//COLORS
$color-primary:#AF7EEB;
$color-primary-light:#C6B3ED;
//$color-primary-dark: 

$color-secondary-light:#E3E9FF;
$color-secondary-dark:#8C97B9;

$color-white:#fff;
$color-black:#000;


/*$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-gray-dark:#777;
$color-gray-dark-2:#999;

$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#eee;*/

$box-shadow: 0 2rem 4rem rgba($color-black,0.2); 
$box-shadow-small: 0 1rem 2rem rgba($color-black,0.1); 


